<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GoodEduSystem</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_querycourse1</servlet-name>
    <servlet-class>servlet.Tea_QueryCourse1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_querycourse1</servlet-name>
    <url-pattern>/servlet/Tea_QueryCourse1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_querycourse2</servlet-name>
    <servlet-class>servlet.Tea_QueryCourse2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_querycourse2</servlet-name>
    <url-pattern>/servlet/Tea_QueryCourse2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_exportScore</servlet-name>
    <servlet-class>servlet.Tea_ExportScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_exportScore</servlet-name>
    <url-pattern>/servlet/Tea_ExportScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_entryScore1</servlet-name>
    <servlet-class>servlet.Tea_EntryScore1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_entryScore1</servlet-name>
    <url-pattern>/servlet/Tea_EntryScore1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_entryScore2</servlet-name>
    <servlet-class>servlet.Tea_EntryScore2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_entryScore2</servlet-name>
    <url-pattern>/servlet/Tea_EntryScore2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_queryScore1</servlet-name>
    <servlet-class>servlet.Tea_QueryScore1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_queryScore1</servlet-name>
    <url-pattern>/servlet/Tea_QueryScore1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>t_queryScore2</servlet-name>
    <servlet-class>servlet.Tea_QueryScore2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>t_queryScore2</servlet-name>
    <url-pattern>/servlet/Tea_QueryScore2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPassword</servlet-name>
    <servlet-class>servlet.ModifyPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPassword</servlet-name>
    <url-pattern>/servlet/ModifyPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Stu_SelectCourse</servlet-name>
    <servlet-class>servlet.Stu_SelectCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stu_SelectCourse</servlet-name>
    <url-pattern>/servlet/Stu_SelectCourseServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Stu_ExportScore</servlet-name>
    <servlet-class>servlet.Stu_ExportScoresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Stu_ExportScore</servlet-name>
    <url-pattern>/servlet/Stu_ExportScoresServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>